{% extends 'VDHackatonViolinBundle::layout.html.twig' %}
{% block title %}Violin - Acerca de{% endblock %}
{% block content %}
<p>
Violin es una solución integrada al manejo de información de la violencia doméstica.
Este sistema permite llevar un registro común entre las varias instituciones que tratan con las víctimas de violencia doméstica,
permitiendo así una mejor organización de la información cuantitativa y estadística.
</p>
<h2>Instituciones que Participan</h2>
<p>
Estas son las instituciones que participan hasta el momento en el proyecto Violin
<ul>
<li>Ministerio de Salud</li>
<li>Defensoría del Pueblo</li>
<li>Ministerio de Gobierno y Justicia</li>	
<li>Policía Nacional</li>
</ul>
</p>
{% endblock %}