{% extends 'VDHackatonViolinBundle::layout.html.twig' %}
{% block content %}
<p>
Violín es un proyecto que busca atacar el problema de la violencia doméstica a través de un sistema integrado de datos en el que participan
las instituciones vincludas a este flagelo. Conozca cómo puede Violin ayudar a su institución y cómo puede su institución colaborar con Violin:
</p>
<ul>
<li><a href="about">¿Qué es Violin?</a></li>
<li><a href="uses">Casos de Uso</a></li>
<li><a href="integration">Solicitar Integración</a></li>
</ul>
{% endblock %}
