{% extends 'VDHackatonViolinBundle::layout.html.twig' %}
{% block title %}Violin - Integración{% endblock %}
{% block content %}
<p>
Si su organización desea integrarse al sistema Violin, contactenos a la dirección de correo electrónico <a href="mailto:violin@floss-pa.org">violin@floss-pa.org</a> y díganos cómo desea utilizar
la información proporcionada. Una vez hayamos clarificado los requerimientos de su organización, enviaremos una persona encargada de darle una consultoría
de cómo utilizar las librerías de Violin para integrar su sistema de información con nuestro sistema.
</p>
{% endblock %}