{% extends 'VDHackatonViolinBundle::layout.html.twig' %}
{% block title %}Violin - Casos de Uso{% endblock %}
{% block content %}
<h2>Instituciones que Ayudan a las Víctimas de Violencia</h2>
<p>
Si su institución (gubernamental, no gubernamental, estadística, o de cualquier tipo) está interesada en obtener datos estadísticos en tiempo real acerca de
la violencia doméstica, usted puede acceder a esta información utilizando un módulo de integración al sistema estadístico de Violin. De esta manera puede consultar
y desplegar la información proporcionada de la manera que más se ajuste a sus necesidades.
</p>
<h2>Instituciones Penales</h2>
<p>
Las entidades gubernamentales que participan en el proceso de seguimiento de casos de víctimas pueden acceder a Violin a través de su módulo de ingreso de datos.
La integración por medio de este módulo permite que su institución ingrese datos de manera remota sin necesidad de modificar los formularios digitales actuales con los
que cuenta su institución y sin necesidad de agregar formularios adicionales.
</p>
{% endblock %}